.container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh;
    gap            : 30px;
    flex-direction : row;
    text-align     : center;
}

.image-login {
    width    : 650px;
    height   : 650px;
    max-width: 100%;
}

.form-section {
    width    : 400px;
    min-width: 300px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .image-login {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .image-login {
        max-width: 300px;
    }

    .form-section {
        min-width: 300px;
    }
}