@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100%;
  font-family: "Outfit";
  color: #ffff;
  background-color: #001d3d;
}

header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1rem;
  background-color: #001d3d;
  height: 10%;
}

header li {
  text-decoration: none;
  list-style: none;
  color: white;
}

header a {
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

header ul {
    display: flex;
}
.card-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}

.image-login img {
  width: 80%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-30px);
  }
}

.card {
  width: 60%;
  height: 75%;
  background-color: #08223F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.card input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background: #28394D;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #28394D;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.2rem;
}

.card input[type="submit"] {
  box-sizing: border-box;
  width: 60%;
  height: 65px;
  background: #346089;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #2b5276;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.card label {
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  body {
    height: 100vh;
  }
  .card {
    width: 80%;
    height: auto;
  }
  .card-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    height: 100vh;
  }

  .card {
    width: 80%;
    height: auto;
  }

  .card-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: 0;
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input[type="text"] {
  width: 70%;
}

.search input[type="submit"] {
  width: 25%;
  margin: 0;
}
