.navbar {
    background-color: #001D3D;
    color           : #fff;
    height          : 70px;
}

.navbar-container {
    display    : flex;
    align-items: center;
}

.navbar-brand img {
    margin-left: 25px;
    width      : 60px;
    padding    : 0;
    margin-top : 0;
}

.navbar-links ul {
    list-style : none;
    display    : flex;
    margin-left: auto;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color          : #fff;
}

.navbar-toggle {
    display: none;
}

@media (max-width: 768px) {
    .navbar-links ul {
        display         : none;
        flex-direction  : column;
        background-color: #18436B;
        position        : absolute;
        top             : 70px;
        left            : 0;
        width           : 100%;
        padding         : 10px 20px;
        z-index         : 1;
    }

    .navbar-links ul.active {
        display: flex;
    }

    .navbar-toggle {
        margin-left: 20px;
        display    : block;
    }

    #menu-toggle {
        color: white;
    }

    .navbar-brand {
        display: none;
    }
}