@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins" !important;
}

/* .container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    font-family: "Outfit";
    color: #ffff;
    display: flex;
    background-color: #001D3D;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    margin: 10px;
    padding: 10px;
} */

table {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    border-collapse: collapse;
    border-radius: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

table a {
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

table a:hover {
    background-color: #ccc;

}

td,
th {
    height: 60px;
    border-bottom: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #346089;
    color: #ffffff;
}


tr:nth-child(even) td {
    color: #ffffff;
}

.cad a,
.edit a,
.delete a,
.export a {
    color: #0000;
}


.cad {
    background-color: #121c4d;
    color: #fff; /* Define a cor do texto para branco */
}

.edit {
    background-color: #ffbb33;
    color: #000; /* Define a cor do texto para preto */
}

.delete {
    background-color: #ff3547;
    color: #fff; /* Define a cor do texto para branco */
}

.export {
    background-color: #3CB371FF;
    color: #000; /* Define a cor do texto para preto */
}