{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container">
    <form method="post">
        <h2>{{ title }} Empréstimo</h2>

        {% if sem_equipamentos %}
        <p>Não há equipamentos disponíveis no momento.</p>
        {% else %}

        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn bg-blue-500" type="submit" value="{{ title }}" />
        {% endif %}
    </form>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}