<div class="modal fade" id="observacoesModal" tabindex="-1" role="dialog" aria-labelledby="observacoesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarDevolucaoModalLabel">Observações do equipamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Em implementação</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Etendi</button>
            </div>
        </div>
    </div>
</div>