{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container" style="width: 750px;">
    <form method="post">
        <h2>{{ title }} Empréstimo</h2>

        {% if sem_equipamentos %}
        <p>Não há equipamentos disponíveis no momento.</p>
        {% else %}

        {% csrf_token %}

        <p style="color: red; margin-bottom: 30px; margin-top: 30px;">
            (*) Campo Obrigatório
        </p>

        {{ form|crispy }}

        <div class="actions"
            style="display: flex; font-display: row; align-items: center; justify-content: flex-start; margin-top: 30px;">

            <a href="{% url 'listar_emprestimo' %}" class="btn me-md-2 btn-equipamento" type="submit" style="width: 300px; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            column-gap: 8px; 
            color: white; 
            height: 44px; 
            background: #cacaca;" onmouseover="this.style.background='#18436B'"
                onmouseout="this.style.background='#cacaca'">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
                Cancelar
            </a>

            <button value="{{ title }}" class="btn me-md-2 btn-equipamento" type="submit" style="width: 300px; 
                    display: flex; 
                    align-items: center; 
                    justify-content: center; 
                    column-gap: 8px; 
                    color: white; 
                    height: 44px; 
                    background: #001d3d;" onmouseover="this.style.background='#18436B'"
                onmouseout="this.style.background='#001d3d'">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                Emprestar
            </button>
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}