{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<!-- INSERIR TAGS ABAIXO -->

<div class="container">
  <div class="card" style="background: #31B3CD; display: flex; flex-direction: row; align-items: center;">
    <div class="txt-cen" style="margin-left: 50px; font-size: 25px; text-align: justify; color: white;">
      <strong>CEN</strong><br>
      <p>O Controle de Equipamentos do Navir é uma solução de software para monitorar o empréstimo e gerenciar os
        equipamentos do Núcleo de Automação, Visão Computacional, Inteligência Artificial e Robótica.</p>
    </div>
    <img class="image" src="{% static 'image/computer.png' %}">
  </div>

  <div class="cards" style="margin-bottom: 50px; gap: 30px; margin-top: 30px;">
    <div class="card" style="background: #08223F; color: white; font-size: 20px;">
      <div class="card-body">
        <h5>Empréstimo</h5>
        <p>O CEN permite um controle de todos os equipamentos emprestados aos alunos.</p>
      </div>
      <img src="{% static 'image/ok.png' %}" class="card-img-top">
    </div>

    <div class="card" style="background: #08223F; color: white; font-size: 20px;">
      <div class="card-body">
        <h5>Equipamento</h5>
        <p>O CEN permite um registro de todos os equipamentos existentes no Navir.</p>
      </div>
      <img src="{% static 'image/equi.png' %}" class="card-img-top">
    </div>
  </div>
</div>


{% endblock %}